<div style="background-color: aquamarine">
    <div class="container">
    <h3>Login</h3><br>
    <form id="loginForm">
        
        <div class="form-group">
            <input style="width:40%" class="form-control" type="text" placeholder="username" id="username"/>
        </div>
        <div class="form-group">
          <input style="width:40%" class="form-control" type="text" placeholder="password" id="password"/>
        </div>
           
        <div class="form-group">
            <input class="button" type="button" id="submit" value="Submit">
        </div>
  
    </form>    
      <!-- Container div -->
    </div> 
  </div>
