<div class="container" style="background-color: aquamarine">
<nav class="navbar navbar-dark bg-dark mb-5">
        <!-- <a class="navbar-brand" href="/">Hotel Advisor</a> -->
        <a class="navbar-brand" routerLink = "login">Hotel Advisor</a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink = "login">Log in</a>
            <a class="nav-item nav-link" routerLink = "signUp">signUp</a>
            <a class="nav-item nav-link " routerLink = "hotels">Browse Hotels</a>
            <!-- <a class="nav-item nav-link " routerLink = "hotelDetail">About this Hotel</a> -->
            <!-- <a class="nav-item nav-link" routerLink = "review">Write a Review</a> -->
          </div>
        </div>
        
      </nav>

    <router-outlet> </router-outlet>
</div>

 <!-- <app-login></app-login>
    <app-review></app-review>
    <app-user></app-user>
    <app-hotel-list></app-hotel-list> -->