
<div style="background-color: aquamarine">
    <div class="container">
            <img src="https://www.cbuilde.com/public/images/shutterstock-64580965.jpg" alt="Reg Icon" style="width:60px;height:60px;">
    <div>
        <h2 > Signup Form</h2>
    </div>  
    
   
    <form id="registrationForm">
        
        <div class="form-group">
            <input style="width:40%" class="form-control" type="text" placeholder="username" id="username"/>
        </div>
        <div class="form-group">
          <input style="width:40%" class="form-control" type="text" placeholder="password" id="password"/>
        </div>
        <div class="form-group">
          <input style="width:40%" class="form-control" type="text" placeholder="email" id="email"/>
        </div>
        <div class="form-group">
          <input style="width:40%" class="form-control" type="text" placeholder="role" id="role"/>
        </div>
       
        <div class="form-group">
            <input class="button" type="button" id="submit" value="Submit">
        </div>

    </form>    
      <!-- Container div -->
    </div> 
</div>


